<div id="index-week">
  <% unless object.empty? %>
    <%= link_to "PDFを表示", pdf_weeks_path(week: week, format: "pdf"), target: "_blank", id: "pdf-btn" %>
    <div class="index-week-title">
      <span>商品名</span>
      <span>値段</span>
      <span>メーカー</span>
      <span>JANコード</span>
      <span>カテゴリー</span>
    </div>
    <% object.each do |store| %>
     <div class="index-week-content">
       <span><%= store.name %></span>
       <span><%= store.price %></span>
       <span><%= store.maker %></span>
       <span><%= store.jan %></span>
       <span><%= store.category %></span>
     </div>
    <% end %>
  <% else %>
    <p>商品は登録されていません</p>
  <% end %>
</div>