<div class="week_stores">
  <% unless object.empty? %>
    <%= link_to "pdf", pdf_weeks_path(week: week, format: "pdf"), target: "_blank" %>
    <% object.each do |store| %>
     <div class="week_store_content">
       <span><%= store.name %></span>
       <span><%= store.price %></span>
       <span><%= store.maker %></span>
       <span><%= store.category %></span>
     </div>
    <% end %>
  <% else %>
    <p>商品は登録されていません</p>
  <% end %>
</div>