<div> 
  <%= form_with(model: @week, local: true) do |f| %>
    <%= f.select :week, {月曜: "月曜", 火曜: "火曜", 水曜: "水曜", 木曜: "木曜", 金曜: "金曜", 土曜: "土曜", 日曜: "日曜"} %>
    <div id="ajax">
      <% @stores.each do |store| %>
        <div><%= f.check_box :store, {multiple: true}, store.id, nil %><%= store.name %> <%= store.price %>円 <%= store.maker %> <%= store.jan %></div>
      <% end %>
    </div>
    <%= f.submit "登録" %>
  <% end %>
</div> 
<div id="barcode" style="display: none;"></div>

<script>
  $(function(){
    $("#week_week").on("change", function(){
    
      $.ajax({
            url: "/weeks/new",
            type: "GET",
            data: {week : $(":selected").attr("value")},
            dataType: "json"
        }).done(function(data) {
          var html = buildHTML(data);
          document.getElementById("ajax").innerHTML=html;
          //var id;
          //data["content"].forEach(function(value){
          //  $id = "#" + value.jan;
          //  $($id).barcode(value.jan, "ean13");
          //});
        })
        .fail(function() {
          alert('error');
        });
    });
    
    function buildHTML(data){
      var content = data["content"];
      var input = "";
      content.forEach(function(value){
        input += `<div><input type="checkbox" value="${value.id}" name="week[store][]" id="week_store_${value.id}">${value.name} ${value.price} ${value.maker} ${value.jan}</div>`
      });
      return input
    }
    
    
  });
</script>