<div id="new-week"> 
  <%= form_with(model: @week, local: true) do |f| %>
    <div class="week-select-btn">
      <%= f.select :week, {月曜: "月曜", 火曜: "火曜", 水曜: "水曜", 木曜: "木曜", 金曜: "金曜", 土曜: "土曜", 日曜: "日曜"} %>
      <button type="submit" class="new-week-btn">登録</button>
    </div>
    <div class="week-store-title">
      <span>チェック</span>
      <span>商品名</span>
      <span>値段</span>
      <span>メーカー</span>
      <span>JANコード</span>
      <span>カテゴリー</span>
    </div>
    <div id="ajax">
      <% @stores.each do |store| %>
        <div class="week-forms">
          <span><%= f.check_box :store, {multiple: true}, store.id, nil %></span>
          <span><%= store.name %></span>
          <span><%= store.price %></span>
          <span><%= store.maker %></span>
          <span><%= store.jan %></span>
          <span><%= store.category %></span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  $(function(){
    $("#week_week").on("change", function(){
    
      $.ajax({
            url: "/weeks/new",
            type: "GET",
            data: {week : $(":selected").attr("value")},
            dataType: "json"
        }).done(function(data) {
          var html = buildHTML(data);
          document.getElementById("ajax").innerHTML=html;
        })
        .fail(function() {
          alert('error');
        });
    });
    
    function buildHTML(data){
      var content = data["content"];
      var input = "";
      content.forEach(function(value){
        input += `<div class="week-forms">
                    <span><input type="checkbox" value="${value.id}" name="week[store][]" id="week_store_${value.id}"></span>
                    <span>${value.name}</span>
                    <span>${value.price}</span>
                    <span>${value.maker}</span> 
                    <span>${value.jan}</span>
                    <span>${value.category}</span>
                  </div>`
      });
      return input
    }
  });
</script>