<h1>商品一覧</h1>
<div id="stores">
  <div class="store-title">
    <span>商品名</span>
    <span>値段</span>
    <span>メーカー</span>
    <span>JANコード</span>
    <span>カテゴリー</span>
    <span>アクション１</span>
    <span>アクション２</span>
  </div>
  <% @stores.each do |store| %>
    <div class="store">
      <div class="store-content">
        <span><%= store.name %></span>
        <span><%= store.price %></span>
        <span><%= store.maker %></span>
        <span><%= store.jan %></span>
        <span><%= store.category %></span>
        <span class="store-edit-btn">編集する</span>
        <span><%= link_to "削除", store, method: :delete, data: {confirm: true} %></span>
      </div>
      <div class="store-edit" style="display: none;">
        <%= form_with(model: store, local: true, namespace: "#{store.id}") do |f| %>
          <div>
            <%= f.text_field :name %>
          </div>
          
          <div>
            <%= f.text_field :price %>
          </div>
          
          <div>
            <%= f.text_field :maker %>
          </div>
          
          <div>
            <%= f.text_field :jan %>
          </div>
          
          <div>
            <%= f.select :category, {食品: "食品", 惣菜: "惣菜", 菓子: "菓子", 飲料: "飲料", 野菜: "野菜", 鮮魚: "鮮魚", 精肉: "精肉"} %>
          </div>
          <div>
            <button type="submit" class="store-submit-btn">編集</button>
          </div>
          
          <span><button type="button" class="store-close">×</button></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<% if flash[:errors] %>
  <div id="csv-errors">
    <div id="csv-error-close"><span id="csv-error-close-btn">×</span></div>
    <h2>以下の商品は登録されていません</h2>
    <ol>
    <% flash[:errors].each do |e| %>
      <li>商品名:<%= e["name"] %> JANコード: <%= e["jan"] %> エラー: <%= e["error"].join(" ") %></li>
    <% end %>
    </ol>
  </div>
<% end %>
  
<script>
  $(function(){
      $(".store-edit-btn").on('click', function(){
        $(this).parent().next().show();
      });
      $(".store-close").on('click', function(){
        $(this).parent().parent().parent().hide();
      });
  });
</script>
<script>
  $(function(){
    $("#csv-error-close-btn").on("click", function(){
      $("#csv-errors").fadeOut(1000)
    })
  })
</script>
