<div id="store-new">
  <h1>商品の登録</h1>
  <%= form_with(model: @store, local: true) do |f| %>
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name %>
    
    <%= f.label :price, "値段" %>
    <%= f.text_field :price %>
    
    <%= f.label :maker, "メーカー" %> 
    <%= f.text_field :maker %>
    
    <%= f.label :category %>
    <%= f.select :category, {食品: "食品", 惣菜: "惣菜", 菓子: "菓子", 飲料: "飲料", 野菜: "野菜", 鮮魚: "鮮魚", 精肉: "精肉"} %>
    <%= f.label :jan, "jan" %>
    <%= f.text_field :jan , id: "jancode"%>
    <p id="jan-error"></p>
    
    <div class="store-registration"><button type="submit" class="store-btn">登録</button></div>
  <% end %>
</div>  

<script>
  function errorMessage(ary){
    if(ary[0] && ary[1]){
      return ary[0] + "," + ary[1]
    }else{
      return ary[0] + ary[1]
    }
  }
  $(function(){
    let janError = document.getElementById("jan-error")
    let error = ["", ""]
    $("#jancode").on("input", function(e){
      value = e.target.value
      if(value.match(/[a-zA-Z]/g)){
        $("#jancode").css({
          borderColor: "red"
        })
        error[1] = "数字のみにしてください"
      }else{
        error[1] = ""
      }
      
      if(value.length != 13){
        $("#jancode").css({
          borderColor: "red"
        })
        error[0] = "文字数が違います"
      }else{
        error[0] = ""
      }
      
      if(value.length == 13 && !value.match(/[a-zA-Z]/g)){
        error[0] = ""
        error[1] = ""
        $("#jancode").css({
          borderColor: "black"
        })
      }
      janError.textContent = errorMessage(error)
    })
  })
</script>