<div id="store-new">
  <h1>商品の登録</h1>
  <%= form_with(model: @store, local: true) do |f| %>
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name %>
    
    <%= f.label :price, "値段" %>
    <%= f.text_field :price %>
    
    <%= f.label :maker, "メーカー" %> 
    <%= f.text_field :maker %>
    
    <%= f.label :category %>
    <%= f.select :category, {食品: "食品", 惣菜: "惣菜", 菓子: "菓子", 飲料: "飲料", 野菜: "野菜", 鮮魚: "鮮魚", 生肉: "生肉"} %>
    <%= f.label :jan, "jan" %>
    <%= f.text_field :jan , id: "jancode"%>
    <p id="jan-error"></p>
    
    <div class="store-registration"><button type="submit" class="store-btn">登録</button></div>
  <% end %>
</div>  
<div class="csv-btn-div"> 
  <p>CSVファイルで登録する方は<a href="#" id="csv-btn">こちら</a></p>
</div>
<div id="store-csv" style="display: none;">
  <div class="csv-form">
    <h3>CSVファイルで登録</h3>
    <%= form_tag import_stores_path, multipart: true do %>
        <div><%= file_field_tag :file %></div>
        <div><%= submit_tag "インポート" %></div>
    <% end %>
    <div><span id="csv-attention" class="active">※注意事項について</span></div>
    <p id="csv-attention-content">
      CSVファイルのヘッダーは以下の項目を入れてください</br>
      name、price、jan、category、maker</br>
      を順不同で入れてください。</br>
      (categoryは食品、惣菜、菓子、飲料、野菜、鮮魚、生肉のいずれか)
      
    </p>
  </div>
</div>


