<div id="signup-form">
  <div class="signup-modal">
    <div class="signup-close-div"><span id="signup-close">✖<span></div>
    <h2>サインアップ</h2>
    <%= form_with(model: User.new, local: true) do |f| %>
      <%= f.label :name, "名前" %>
      <%= f.text_field :name %>
      
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email %>
      
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>
      
      <%= f.label :password_confirmation, "確認用パスワード" %>
      <%= f.password_field :password_confirmation %>
      <div><button type="submit" id="signup-btn">登録</button></div>
    <% end %>
  </div>
</div>